@font-face {
    font-family: "Pixel";
    src: url("/assets/fonts/pixel.woff2");
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat.woff2");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    scroll-snap-type: y mandatory;
    box-sizing: border-box;
    overflow-x: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    background: #000;
    color: #acacac;
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


main {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 0px;
    width: 100vw;
    z-index: 99;
}

.nav-links {
    position: absolute;
    font-family: "Pixel";
    color: #acacac;
    font-size: 18px;
    font-weight: 400;
    padding: 40px;
}

.link {
    border: solid 5px #6c6c6c;
    padding: 8px;
    text-decoration: none;
    color: #b3b3b3;
    margin: auto 70px;
}

section {
    height: 100vh;
    width: 100vw;
    margin-left: 50px;

    scroll-snap-align: start;
    position: relative;
}

section .container {
    max-width: 1360px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
}

section.two .container {
    grid-template-areas: 'content ..';
}

section.three .container {
    grid-template-areas: '.. content';
}

section.four .container {
    grid-template-areas: 'content ..';
}

.hero {
    width: 100%;
    height: 100%;
    grid-area: content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* h1 {
    z-index: 99;
    font-family: "Pixel";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    width: 100%;
    height: 100px;
    text-align: center;
} */

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    display: block;
    width: 100%;
    font-family: inherit;
}

h2 span {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    width: 100%;
    display: block;
}

p {
    font-size: 28px;
    display: block;
    line-height: 40px;
    width: 100%;
    font-weight: 400;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: row;

    position: absolute;
    top: 200px;
    z-index: 99;
}

.icon {
    width: 60px;
    top: 200px;
    padding-right: 22px;
    color: #ceabb9;
}