@font-face {
    font-family: "Pixel";
    src: url("/fonts/pixel.woff2");
}

@font-face {
    font-family: "Pixel2";
    src: url("/fonts/pixel-two.woff2");
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat.woff2");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    top: 0;
    left: 0;
    list-style: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 99;
}

.nav-links {
    position: absolute;
    font-family: "Pixel2";
    color: #ED8FB6;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    right: 20px;
    top: 30px;
}

.link {
    filter: drop-shadow(4px 5px 6px #b2b1b1);
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    color: #B3B3B3;
    margin: auto 50px;
}

.link:hover {
    opacity: 0.7;
}

header {
    right: 0%;
}

.skills h1 {
    font-family: 'Pixel2';
    text-align: center;
    color: #ED8FB6;
    top: 30px;
    left: 10%;
    letter-spacing: 3%;
    margin: 50px;
    font-size: 36px;
}

h3 {
    font-family: 'Pixel';
    letter-spacing: 10%;
    margin: 5px;
    font-size: 26px;
}

.skills {
    width: 900px;
    right: 0%;
    margin: 60px auto;
    color: #d5d5d5;
    font-family: 'Pixel';
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skills li {
    font-family: 'Pixel';
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    border-radius: 10px;

    background: linear-gradient(135deg, #c041a5 0%, #d041ff 100%);
}

.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 90%;
    animation: css 3s;
}

.figma {
    width: 90%;
    animation: figma 3s;
}

.bootstrap {
    width: 90%;
    animation: bootstrap 3s;
}

.webgl {
    width: 70%;
    animation: webgl 3s;
}

.javascript {
    width: 70%;
    animation: javascript 3s;
}

.react {
    width: 50%;
    animation: react 3s;
}

.illustrator {
    width: 50%;
    animation: illustrator 3s;
}

.photoshop {
    width: 50%;
    animation: photoshop 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes figma {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes webgl {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes illustrator {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

/* tablet size */
@media (max-width: 750px)
{
    .link
{
        font-size: 18px;
        margin: auto 20px;

}

}

/* phone size */
@media (max-width: 600px) 
{
    .link
{
    font-size: 10px;
    margin: auto 20px;

}

}