@font-face {
    font-family: "Pixel";
    src: url("/assets/fonts/pixel.woff2");
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat.woff2");
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    list-style: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    z-index: 99;
    top: 20px;
    width: 50px;
    left: 50px;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    position: absolute;
    z-index: 99;
}

h3 {
    margin: 5px;
}

.skill {
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

bac .nav-links {
    position: absolute;
    font-family: "Pixel";
    color: #acacac;
    font-size: 18px;
    font-weight: 400;
    padding: 40px;
}

.link {
    border: solid #acacac;
    padding: 8px;
    text-decoration: none;
    color: #acacac;
    margin: auto 70px;
}