@font-face {
    font-family: "Pixel";
    src: url("/assets/fonts/pixel.woff2");
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat.woff2");
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    z-index: 99;
    top: 20px;
    width: 50px;
    left: 50px;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    position: absolute;
    z-index: 99;
}

h3 {
    font-family: 'Montserrat';
    margin: 5px;
    font-size: 26px;
}

.skills {
    width: 500px;
    right: 10px;
    margin: 60px auto;
    color: #a5a5a5;
    font-family: 'Montserrat';
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skills li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    border-radius: 10px;

    background: linear-gradient(135deg, #5A41C0 0%, #AD41FF 100%);
}

.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 90%;
    animation: css 3s;
}

.figma {
    width: 90%;
    animation: figma 3s;
}

.bootstrap {
    width: 90%;
    animation: bootstrap 3s;
}

.webgl {
    width: 70%;
    animation: webgl 3s;
}

.javascript {
    width: 70%;
    animation: javascript 3s;
}

.react {
    width: 50%;
    animation: react 3s;
}

.illustrator {
    width: 50%;
    animation: illustrator 3s;
}

.photoshop {
    width: 50%;
    animation: photoshop 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes figma {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes webgl {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes illustrator {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.nav-links {
    position: absolute;
    font-family: "Pixel";
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 400;
    padding: 40px;
}

.link {
    border: solid #e5e5e5;
    padding: 8px;
    text-decoration: none;
    color: #e5e5e5;
    margin: auto 70px;
}

header {
    right: 20%;
}